<header class="page-header">
  <h1>About</h1>
</header>
<h4>OUR MISSION</h4>
<h2>Making commerce better for everyone</h2>
<h5>We help people achieve independence by making it easier to start, run, and grow a business. We believe the future of commerce has more voices, not fewer, so we’re reducing the barriers to business ownership to make commerce better for everyone.</h5>
